<div class="container">
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>AADHAAR</h2>
        <h1>Apply for a new Aadhar Card</h1>
        <br />
        <p>1.Find an Aadhaar Enrolment Centre near you.</p>
        <p>2.Fill the enrolment form (the form is also available online)</p>
        <p>
          3.Submit the form along with supporting documents such as the proof of
          identity and the proof of address.
        </p>

        <a routerLink="/apply">Apply here</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>AADHAAR</h2>
        <h1>Click here Approve adharcard</h1>
        <br />
        <p>1. Biometric update</p>
        <p>2.Demographic data update</p>
        <p>
          3.Registered mobile number is essential to access Aadhaar Online
          Service
        </p>
        <a routerLink="/userupdate">Approve here</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>AADHAAR</h2>
        <h1>duplicate Aadhar Card requests</h1>
        <br />
        <p>Step 1: Go to the official UIDAI website</p>
        <p>2: Choose either ‘Aadhaar No’ or ‘Enrolment No’ option</p>
        <p>
          Step 3: Input basic information like the name, email address or mobile
          number registered with UID
        </p>

        <a routerLink="/duplicatelist">Click here</a>
      </div>
    </div>
  </div>
</div>
